<div class="container m-3">
  <div class="card ">
    <h3 class="card-title">Liste des résultats des étudiants</h3>
    <div class="card-body">
      <table class="table">

        <thead>
        <tr>
          <th scope="col">Numero Carte</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Classe</th>
          <th scope="col">Resultat</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let resultat of listeAdmission; index as i">
          <th scope="row">{{resultat.numCarte}}</th>
          <td>
            {{resultat.prenom}}
          </td>
          <td>{{ resultat.nom }}</td>
          <td>{{ resultat.classe }}</td>
          <td [class]="getClasse(resultat.resultat)">
            <strong>{{resultat.resultat}}</strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

