<nav class="nav navbar-expand bg-info justify-content-center"> GESTION ETUDIANT SERVICE</nav>
<ul class="list-inline">
  <li class="list-inline-item btn-link m-2">
    <a routerLink="/service-inscription" >Service-inscription</a>
  </li>

  <li class="list-inline-item btn-link m-2">
    <a routerLink="/service-examen" >Service-examen</a>
  </li>

  <li class="list-inline-item btn-link m-2 ">
    <a routerLink="/service-admission" >Service-Admission</a>
  </li>

</ul>
<div>
  <router-outlet></router-outlet>
</div>
